@import url('https://fonts.googleapis.com/css?family=Trirong');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  font-family: "Trirong", serif;
  text-rendering: optimizeLegibility;
}


/*Hero Section*/
@keyframes marquee {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -948px 0; /* Adjusted for the width of the image */
  }
}

.animate-marquee {
  animation: marquee infinite linear infinite;
}

/* Variables for consistent colors and styling */
:root {
  --primary-color: #2D3B45;
  --secondary-color: #5624D0;
  --accent-color: #A435F0;
  --background-color-1: #F8F9FB;
  --text-color: #1C1D1F;
  --border-color: #95989a;
  --success-color: #19A463;
  --warning-color: #F69C08;
  --logo-yellow :#fae534;
  --light-text : #7a7979;
}
/* Scroll-Bar */
@media (min-width: 508px) {
::-webkit-scrollbar {
  width: 5px;
  border-radius: 7px;
}


::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-color-1);
}

/* Firefox */
  * {
    scrollbar-width: thin;  /* For Firefox */
    scrollbar-color: var(--border-color) #f0f0f0;
  }
}

/* Base styles */
body {
  color: var(--text-color);
}
.logo{
  cursor: pointer;
}
/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically on small screens */
  }
  .Hero-img{
    display: none;
  }
  .hero-text-div{
    margin-bottom: 5%;
  }
  .search-bar{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 1%;
    height: 100%;
  }  
  .logo{
    margin-left: 0.5%;
  }
  .browse-button{
    display: none;
    padding: 0;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width : 768px) and (max-width : 1024px) {
  .search-bar{
    padding-left: 1%;
  }
}
@media (max-width:768px) and (min-width: 500px){
  .search-bar{
    margin-top: 1%;
    height: 100%;
  }
}
@media (min-width:1280px){
  .search-bar{
    margin-left: 15%;
  }
}

@media (min-width: 1024px) {
  .multi-cards:hover {
    z-index: 10;
  }
  
  .multi-cards .motion-container {
    display: block;
  }
}
.course-display{
  @media screen and (max-width: 768px){
    padding-left: 1rem;  
    padding-right: 2rem;
  }
}